@charset "UTF-8";
* {
  margin:0;  /*ヘッダーの上部の余白をなくす*/
  box-sizing: border-box;
}
.headerdiv{
  background-color: #32cd32;
}
body {
  font-family:'Avenir','Helvetica, Neue','Helvetica','Arial';
  margin:0;  /*ヘッダーの上部の余白をなくす*/
}

header{
  font-weight:bold;  /*太字設定*/
  display: flex;
  width: 100%;
  height: 50%;
  background-color: #87cefa;
  align-items: center; /*ボタンの縦の長さをそろえる*/
  margin-bottom:5px; /*ヘッダーからページ内容までの間をあける*/
  padding:10px; /*ヘッダー内のウィンドウからの距離*/
  justify-content: space-around;  /*ボタンの間隔を開ける*/
}
.logo{
  margin-top:0; /*ヘッダーの上部の余白をなくす*/
  cursor: pointer;   /*カーソルを合わせたときに矢印から指マークに変わる*/
}
header.div{
  cursor: pointer;   /*カーソルを合わせたときに矢印から指マークに変わる*/
  list-style: none;  /*リストの点を消す*/
  display: flex;  /*ボタンを横並びにする*/
  justify-content: space-around;  /*ボタンの間隔を開ける*/
  font-size:100px;
  height:100%;
  width:50%;
}
.hedbtn {
  display: inline-block; 
  bottom:10px;
  line-height:300%;  /*ボタンの上下の間隔をあける*/
}
.headerbutton a{
  text-decoration: none;  /*ボタンのリンク（文字の下に出るアンカー線）を消す*/
  border: 1px solid #282828;   /*ボタンの枠線*/
  background-color: #32cd32;
  color: #fff;
  font-size: 100%;
  text-align:center;
  padding:10px;
  left:20%;
  flex-basis: auto; /* flexアイテムの幅を自動で調整 */
}
.hedimg{
  position:relative;
  top:20px;
}

/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  height:90%;
  width: 85%; 
  padding: 10px 30px;
  background-color: #87cefa;
  overflow : auto; 
}
a.closeModal {
  position: absolute;
  top: 1rem;       /*上からの位置*/
  right: 1rem;       /*右からの位置*/
  cursor: pointer;   /*カーソルを合わせたときに矢印から指マークに変わる*/
  background-color:#dc143c;
  border-radius: 30%;   /*ボタンの角を丸くする*/
  text-decoration: none;  /*ボタンのリンク（文字の下に出るアンカー線）を消す*/
  border: 1px solid #282828;   /*ボタンの枠線*/
  font-size:30px;
}
a.ok{
  text-decoration: none;  /*ボタンのリンク（文字の下に出るアンカー線）を消す*/
  padding-top: 5px;
  left:30%;
  border: 1px solid #282828;   /*ボタンの枠線*/
  position: absolute;
  font-size:30px;
  background-color:#32cd32;
  cursor: pointer;  /*カーソルを合わせたときに矢印から指マークに変わる*/
  text-align:center;
  border-radius: 2px;
  position:fixed;
  display: flex;  /*ボタンを横並びにする*/
  top:90%;
}
a.back{
  text-decoration: none;  /*ボタンのリンク（文字の下に出るアンカー線）を消す*/
  padding-top: 5px;
  right:30%;
  border: 1px solid #282828;  /*ボタンの枠線*/
  position: absolute;
  font-size:30px;
  background-color:#dc143c;
  cursor: pointer;  /*カーソルを合わせたときに矢印から指マークに変わる*/
  border-radius: 2px;
  position:fixed;
  display: flex;  /*ボタンを横並びにする*/
  top:90%;
}

/*ここからポップアップの中身の設定*/
.puldown{
  border: 5px solid #282828;  /*枠線*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  height:80%;
  width: 80%; 
  padding: 10px 30px;
  background-color: #87cefa;
  overflow : auto;    /*ポップアップの中身が表示領域より多くなる場合、スクロールできるようにする*/
  display:flex;
  flex-flow: column;
  margin:0 0 1em;
  float: left;
  text-align:center;
}
.content {
  	padding:1em;
  	margin:0.5em auto;
  	width:50%;
  	text-align:center; /*真ん中に文字*/
  	padding:20px 0; /*真ん中に文字*/
}
.same-width-list {
	width: 200px; /*選択肢の余白*/
	font-size: 20px; /*文字のサイズ*/
}
.job{
	font-size: xx-large;
	text-align:center;
}
.keywordsyou{
	font-size: 15px;
}
.keyworddai{
	font-size: xx-large;
}

/*ここからトップへ遷移するボタンの設定*/
.movtp{
  text-decoration: none;  /*ボタンのリンク（文字の下に出るアンカー線）を消す*/
  position: fixed;  /*ボタンの位置調整に使用*/
  bottom: 20px;
  right: 20px;
  font-size: 120%;
  display: block;
  color: #fff;
  width: 3.3rem;
  padding: 20px 0;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #282828;   /*ボタンの枠線*/
  background-color: #32cd32;
  text-transform: uppercase;
}

.movtp:hover {
    color: red;
    background-color: #999;
    text-decoration: none;
}
/*ここまでトップへ遷移するボタンの設定*/